DEBUG = True
SECRET_KEY = django-insecure-60=eisf$2!4_v@_+9mq-lwl9or%4*27%^95xxqpcj2b7_#*v=f
ALLOWED_HOSTS = *


SSLCOMMERZ_STORE_ID = youridhere
SSLCOMMERZ_STORE_PASSWORD = yourpasshere
SSLCOMMERZ_IS_SANDBOX = True


EMAIL_HOST_USER = yourmailhere
EMAIL_HOST_PASSWORD = mailpasshere
